.search-bar{
  display: block;
  width: 0;
  flex:1;
  height: 30px;   
  padding-left: 10px ; 
  font-size: 15px;
  border-color: rgb(210, 205, 205);
  border-width:1px;
  border-style: solid ;
  border-radius: 2px;
  box-shadow: inset 2px 2px 3px rgba(0,0,0, 0.05);
}
.search-icon{
  height:30px;
  flex:1
}
.voice-icon{
  height:27px;
  width: 30px;
  margin-right: 10px;
}
.search-bar::placeholder {
  
  font-size: 16px;
}
.header{
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: fixed;
  background-color: white;
  top: 0;
  left: 0;
  right: 0;
  border-bottom-width: 1px;
  border-bottom-color: rgb(228, 228, 228);
  border-bottom-style: solid;
  z-index:100;

  
}
.left-sec{

  display: flex;
  align-items: center;
  
}
.right-sec{
  margin-right: 20px;
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-shrink: 0;
}
.middle-sec{
  flex: 1;
  margin-left: 70px;
  margin-right: 35px;
  max-width: 500px;
  display: flex;
  align-items: center;
  
  
}
.hamburger{
  width: 23px;
  margin-right: 15px;
  margin-left: 24px;
  height: 28px;
}
.yt-button{
  width: 90px;
  height: 28px;
  margin-left: 10px;
}
.search-button{
  width: 66px;
  height: 34px;
  background-color: rgb(232, 230, 230);
  border-radius: 2px;
  border-style: solid;
  border-width: 1px;
  border-color: rgb(210, 205, 205);
  margin-right: 15px;
  margin-left: -1px;
  
}
.search-button,
.voice-searchbutton,
.upload-icon-container,
.youtube-app-icon,
.noti-icon{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.search-button .tool-tip , 
.voice-searchbutton .tool-tip,
.upload-icon-container .tool-tip,
.youtube-app-icon .tool-tip,
.noti-icon .tool-tip{
  position:absolute;
  background-color: gray;
  color:white;
  padding-left: 4px;
  padding-right: 4px;
  padding-top: 4px;
  padding-bottom: 4px;
  border-radius: 2px;
  font-size: 12px;
  bottom: -30px;
  opacity: 0;
  pointer-events: none;
  white-space: nowrap;
}
.search-button:hover .tool-tip ,
.voice-searchbutton:hover .tool-tip,
.upload-icon-container:hover .tool-tip,
.youtube-app-icon:hover .tool-tip,
.noti-icon:hover .tool-tip{ 
  opacity: 1;
  transition: 0.15s;
}
.voice-searchbutton{
  width: 40px;
  height: 40px;
  padding-left: 15px;
  border-radius: 25px;
  border: none;
  background-color: rgb(232, 230, 230);
  border-color: rgb(210, 205, 205);
}
.upload{
  width: 40px;
  height: 30px;
}
.youtube-icon{
  width: 40px;
  height: 30px;
}
.notification{
  width: 45px;
  height: 30px;
  
}
.notification-icon-container{
  position: relative; 
}
.count{
  position: absolute;
  right: 0;
  top:0;
  background-color: rgb(194, 19, 19);
  color:white;
  font-family: roboto;
  font-size: 12px;
  border-radius: 30px;
  width: 10px;
  padding-left: 8px;
  padding-right: 6px;
  padding-top: 3px;
  padding-bottom: 3px;
  border-radius: 20px;
}
.channel{
  width: 40px;
  height: 35px;
  border-radius: 20px;
}


